<div class="dialog" id="dlg_changelog" aria-labelledby="dlg_changelog-title" aria-hidden="true">
	<div class="dialog-overlay" data-a11y-dialog-hide></div>
	<div class="dialog-content">
		<header>
			<h3 id="dlg_changelog-title">NextNTP Changelog </h3>
			<button data-a11y-dialog-hide>
				<svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
			</button>
		</header>
		<section>
			<div class="grid better_r">
				<div>
					<div class="card _mt-1 _p-1 _bg3 _shadowless">
						<h4> v2.0.1 - 27/04/2024</h4>
						<ul class="keep-ls">
							<li>Fix Search Bar issues with custom engines</li>
							<li>Fix Search Bar icon size</li>
							<li>Fix Search Bar dropdown after new se added</li>
							<li>Improve loading speed of custom background</li>
						</ul>
						<hr>
						<h4> v2.0.0 - 23/03/2024 </h4>
						<ul class="keep-ls">
							<li>New page to explore themes</li>
							<li>General improvements of the core code </li>
							<li>Changed icon collection to Tabler</li>
							<li>Add reset default background image for light/dark</li>
							<li>Add blur/brightness to background preview</li>
							<li>Fix preview tile link id</li>
							<li>Fix background color-gradient changing</li>
							<li>Search Bar code improvements</li>
							<li>New improved way to add search engine</li>
							<li>Support chrome:// & kiwi:// & chrome-extension:// links</li>
							<li>Fix of meta theme color set</li>
							<li>New option setting to hide the search bar main logo</li>
							<li>New option to disable CSS animations</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<footer>
			<button data-a11y-dialog-hide>
				Close
			</button>
		</footer>
	</div>
</div>