<header class="_sticky">
	<div class="navbar-wrap">


		<nav>
			<div class="nav-overlay"></div>
			<a href="index.html" aria-label="d3 Brand Logo">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" fill="none" version="1.1">
                    <path fill="url(#a)" stroke-width="1"
                        d="M107.56 29.568c-6.779.104-44.793.122-66.682.105-7.229-.124-7.203 13.1 0 13.21h46.223c8.324-.022 8.232 14.42 0 14.598H63.18c-6.287.152-6.345 12.704 0 12.972h11.758c3.85 0 5.982 3 6.4 6.317.088 4.545-2.599 8.586-6.4 8.687H63.179c-7.083-.133-7.403 12.677 0 12.975h17.76c4.808.034 6.475-2.638 7.362-4.216 8.345-17.716 16.58-36.007 24.461-54.175.503-1.203 1.082-2.072 1.238-3.865 0-3.65-2.883-6.61-6.44-6.608zM36.821 57.48c-8.11.133-7.603 12.909 0 12.972h12.165c7.797 0 7.51-13.021 0-12.972zm-17.84 27.976c-6.768.109-6.514 12.75 0 12.975h30.005c7.105.018 6.902-12.953 0-12.975z" />
                    <defs>
                        <linearGradient id="a" x1="107.507" x2="211.72" y1="45.519" y2="142.455"
                            gradientTransform="matrix(.40546 0 0 .40546 14.001 29.671)"
                            gradientUnits="userSpaceOnUse">
                            <stop stop-color="#67C9D7" />
                            <stop offset="1" stop-color="#52A7D1" />
                        </linearGradient>
                    </defs>
                </svg>
			</a>
			<ul>

				<li>
					<div class="nav-item" data-a11y-dialog-show="dlg_support">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" stroke-width="1.75"
							stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
							<path d="M0 0h24v24H0z" stroke="none" />
							<path
								d="M3 14c.83.642 2.077 1.017 3.5 1 1.423.017 2.67-.358 3.5-1 .83-.642 2.077-1.017 3.5-1 1.423-.017 2.67.358 3.5 1M8 3a2.4 2.4 0 00-1 2 2.4 2.4 0 001 2M12 3a2.4 2.4 0 00-1 2 2.4 2.4 0 001 2" />
							<path d="M3 10h14v5a6 6 0 01-6 6H9a6 6 0 01-6-6v-5zM16.746 16.726a3 3 0 10.252-5.555" />
						</svg>
						&nbsp; Support
					</div>
				</li>
				<li>
					<a href="https://github.com/d3ward/floatly" target="_blank">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
							stroke-width="1.75" stroke="currentColor" fill="none" stroke-linecap="round"
							stroke-linejoin="round">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
							<path
								d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5">
							</path>
						</svg>
						&nbsp; GitHub
					</a>
					<div class="nav-item theme-toggle">
						<span class="light-icon theme-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
								stroke-width="1.75" stroke="currentColor" fill="none" stroke-linecap="round"
								stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path
									d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z">
								</path>
								<path d="M17 4a2 2 0 0 0 2 2a2 2 0 0 0 -2 2a2 2 0 0 0 -2 -2a2 2 0 0 0 2 -2">
								</path>
								<path d="M19 11h2m-1 -1v2"></path>
							</svg>
						</span>
						<span class="dark-icon theme-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
								stroke-width="1.75" stroke="currentColor" fill="none" stroke-linecap="round"
								stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
								<path d="M14.828 14.828a4 4 0 1 0 -5.656 -5.656a4 4 0 0 0 5.656 5.656z">
								</path>
								<path d="M6.343 17.657l-1.414 1.414"></path>
								<path d="M6.343 6.343l-1.414 -1.414"></path>
								<path d="M17.657 6.343l1.414 -1.414"></path>
								<path d="M17.657 17.657l1.414 1.414"></path>
								<path d="M4 12h-2"></path>
								<path d="M12 4v-2"></path>
								<path d="M20 12h2"></path>
								<path d="M12 20v2"></path>
							</svg>
						</span>
					</div>
				</li>
			</ul>
			<button aria-label="Nav menu">
				<svg aria-hidden="true" version="1.1" viewBox="0 0 24 24">
					<line x1="2" y1="4" x2="22" y2="4" id="top" />
					<line x1="2" y1="12" x2="22" y2="12" id="middle-down" />
					<line x1="2" y1="12" x2="22" y2="12" id="middle-up" />
					<line x1="2" y1="20" x2="22" y2="20" id="bottom" />
				</svg>
			</button>
		</nav>
	</div>
	<noscript>
		<div class="js-notice">
			Please enable JavaScript for a better experience on this site
		</div>

		<style>
			.js-notice {
				position: absolute;
				top: 120%;
				border-radius: var(--radius);
				background: var(--primary);
				color: var(--white);
				padding: .3rem .5rem;

			}

			[class*=_aos],
			._aos {
				opacity: 1 !important;
				transform: translateZ(0) scale(1) !important;
			}

			svg#d3Logo .svg-elem-1 {
				stroke-dashoffset: 0;
				fill: var(--primary);
				stroke: var(--primary);
			}

			.no-js {
				display: flex;
			}

			.count:not(.no-js) {
				display: none;
			}

			.about_cards .card {
				border: 2px solid var(--primary);
			}
		</style>
	</noscript>

</header>